.row{
	padding: 0;
	margin: 0;
}
.container{
	width: 100%;
}

/*Premier bandeau*/

#bg_img_1{
	background: url(../img/Coworking2.jpg) no-repeat;
	height: 900px;
	background-size: 100%;

}
#menu{
	background-color: red;
	padding: 0;
}

#nav_bar{
	background:transparent;
	padding-top: 30px;
	padding-bottom: 30px;
}

li{
	display: inline-block;
	padding-right: 20px;
}

#accroche, #bouton{
	text-align: center;
}
